# Dependencies
node_modules/

# Build output
dist/

# Environment
.env

# Database
*.db

# Uploads
data/uploads/

# Angular
.angular/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
